export PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
export http_proxy={{ unsecure_proxy_url }}
export https_proxy={{ secure_proxy_url }}

export HTTP_PROXY={{ unsecure_proxy_url }}
export HTTPS_PROXY={{ secure_proxy_url }}
#export no_proxy=.example.com,x.x.x.x
