apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv{{ item }}-5g 
spec:
  capacity:
    storage: 5Gi 
  accessModes:
  - ReadWriteMany 
  nfs: 
    path: /gpfs/gpfs0/datos/sdop-openshift/pvs
    server: essva.us.dev.corp
  persistentVolumeReclaimPolicy: Retain 

